CMakeCache.txt
cmake_install.cmake
.cproject
.project
CMakeFiles
Makefile
/build/
.externalToolBuilders
.settings
*.so
Testing/
*CTest*.cmake
launch.json
settings.json
tasks.json
/.metadata/
core
.vscode/
*.old
/cmake-build-debug/
.idea/
*.cbp
